#Make shorthands for common flags
# alias ll="ls -lh"

## Alias can be composed
# alias la="ls -A"
# alias lla="la -l"

## To ignore an alias run it prepended with \
# \ls
## Or disable an alias altogether with unalias
# unalias la

## To get an alias definition just call it with alias
# alias ll
##Will print ll='ls -lh

# Save a lot of typing
alias v="vim"
alias t="tmux"
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit"
alias gs="git status"
alias gp="git push"
alias xt="TERM=xterm-256color"

# Mistyping
alias dc="cd"

# Overwrite existing commands for better defaults
alias mv="mv -i"           # -i prompts before overwrite
alias mkdir="mkdir -p"     # -p make parent dirs as needed
alias df="df -h"           # -h prints human readable format

# OS specific
# |              |
# |     WSL      |
# |              |
alias cdd="cd /mnt/d/"
alias cdc="cd /mnt/c/"
alias cdp="cd /mnt/d/Programming"
alias cdb="/mnt/d/EDUCATION/Bilkent"
alias cdbb="/mnt/d/EDUCATION/Bilkent/'22 Spring/CS 102"
alias cw1="cd /mnt/d/Programming/Competitions/pe"
alias paste.exe="powershell.exe Get-Clipboard"

# This creates a temporary function f, which is passed the arguments.
# Alias arguments are only passed at the end. Note that f is called at the very end of the alias.
# The unset -f removes the function definition as the alias is executed so it doesn't hang around afterwards.
alias clip='f(){ "$@" | clip.exe; unset -f f; }; f'
